* {
    margin: 0;
    padding: 0;
    
}
body {
    min-height: 100vh;
    width: 100%;
    
}
.header {
    min-height: 100vh;
    width: 100%;
    background-image: url(arnold-francisca-nPhl2x4fk2s-unsplash-scaled.jpg.webp);
    background-position: center;
    background-size: cover;
    position: relative;
    
}
nav {
    background-color: black; 
    display: flex;
    padding: 0.5rem 0rem;
    justify-content: space-between;
    align-items: center;
}
nav img {
    width: 3rem;
    padding: 0 0;
}

section nav .sidebar li {
    list-style: none;
}
section nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
section nav ul .hideonmobile {
    height: 0.4rem;
}
section nav a {
    height: 100%;
    font-size: 1.3rem;
    padding: 0 2rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    transform: all 2s;
}
section nav li:first-child {
    margin-right: auto;
}
section nav ul li ::after {
    content: '';
    width: 0%;
    height: 1px;
    background: green;
    display: block;
    margin: auto;
    transition: 0.8s all;
}
section nav ul li:hover::after {
    width: 100%;    
}
section nav ul li a span {
    color: green;
    font-weight: 900;
}
section nav .sidebar {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 200px;
    z-index: 2;
    background-color: black;
    transition: all 2s;
    box-shadow: -10px 0 10px green(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
}
section .sidebar ul {
    padding: 2rem;
}

section .sidebar li {
    width: 100%;
    margin: 0 0 1rem;
    right: 0;
}
section .sidebar a {
    width: 100%;
    color: white;
  
}
section nav .sidebar::after {
    content: '';
    width: 0%;
    height: 1px;
    background: rgb(1, 239, 45);
    display: block;
    margin: auto;
}
.text-box {
    width: 80%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
} 
.text-box h1 {
    font-size: 4rem;
    color: white;
    letter-spacing: 5px;
}
.text-box h1 span {
    color: green;
    
}
.text-box p {
    margin: 0rem 3rem 1rem;
    font-size: 1.2rem;
    color: white;
    justify-content: center;
    text-align: center;
    line-height: 1rem;
    padding: 0 1rem;
    letter-spacing: 3px;
}
.btn  button{
    border: 2px solid black;
    background: green;
    padding: 0.5rem 2rem;
    cursor: pointer;
    transition: all 400ms;
    border-radius: 1rem;
    letter-spacing: 0.5rem;
}
.btn  button:hover{
    box-shadow: 0.5rem 0.5rem 1rem green;
    transform: translate(-7px, -7px);
    background-color: green;

}

.menu-btn {
    display: none;
}
/* Information */
.information {
    width: 75%;
    margin: auto;
    text-align: center;
    padding-top: 3.5rem;
}
h2 {
    font-size: 3rem;
    font-weight: 400;
}
h3 {
    font-size: 2rem;
    font-weight: 100;
    text-align: center;
    margin: 0.7rem;
}
p {
    color: black;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1rem;
    padding: 0.7rem;
}
.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.info-col {
    flex-basis: 30%;
    background: green;
    border-radius: 1rem;
    margin-bottom: 5%;
    padding: 1rem 1rem;
    box-sizing: border-box;
}
.info-col:hover {
    box-shadow: 10px 10px 40px 0 gray;
}
/* kampus */
.kampus {
    width: 75%;
    margin: auto;
    text-align: center;
    padding-top: 1.5rem;
}
.kampuscol {
    flex-basis: 30%;
    border-radius: 1rem;
    margin-bottom: 2rem;
    position: relative;
    overflow: hidden;
}
.kampuscol img {
    width: 100%;
    height: 100%;
    display: block;
}
.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;
}
.layer:hover {
    background: rgba(0, 222, 0, 0.5);
}
.layer h3 {
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 2rem;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.8s;
}
.layer:hover h3 {
    bottom: 49%;
    opacity: 2;
}
/* Fasilitas */
.fasilitas {
    width: 75%;
    margin: auto;
    text-align: center;
    padding-top: 1.5rem;  
}
.fasilitascol {
    flex-basis: 30%;
    border-radius: 1rem;
    margin-bottom: 2rem;
}
.fasilitascol img {
    width: 100%;
    height: 60%;
    border-radius: 1rem;
}
.fasilitascol p {
    padding: 0;
}
.fasilitascol h3 {
    margin-top: 1rem;
    margin-bottom: 0.9rem;
    text-align: left;
}
/* alumni */
.alumni {
    width: 75%;
    margin: auto;
    padding-top: 1.5rem;
    text-align: center;
}
.alumnicol {
    flex-basis: 30%;
    border-radius: 0.1rem;
    margin-bottom: 5%;
    text-align: left;
    background: green;
    padding: 1rem;
    cursor: pointer;
    display: flex;
}
.alumnicol img {
    width: 50px;
    height: 50px;
    border-radius: 1rem;
    margin-right: 2rem;
    border-radius: 50%;
}
.alumnicol p {
    padding: 0;
}
.alumnicol h3 {
    margin-top: 0.8rem;
    text-align: left;
}
/* Contact */
.cu {
    margin: 100px auto;
    width: 75%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(kelas.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 1rem;
    text-align: center;
    padding: 100px 0;
}
.cu h1 {
    color: white;
    margin-bottom: 2.5rem;
    padding: 0;
}
.btn  button{
    border: 2px solid black;
    background: green;
    padding: 0.4rem 2rem;
    cursor: pointer;
    transition: all 400ms;
    border-radius: 1rem;
    letter-spacing: 0.5rem;
}
.btn  button:hover{
    box-shadow: 0.5rem 0.5rem 1rem green;
    transform: translate(-7px, -7px);
    background-color: green;

}
/* Footer */
.footer {
    width: 100%;
    text-align: center;
    padding: 2rem 0;
}
.footer  h4 {
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-weight: 800;
    font-size: 2rem;
}
.icon .fa {
    color: black;
    margin: 0 1rem;
    cursor: pointer;
    padding: 1rem 0;}
@media (  max-width: 600px) {
    .cu h1 {
        font-size: 1.5rem;
    }
    .hideonmobile {
        display: none;
        
    }
    .menu-btn  {
        display: block;
    }
    .text-box h1 {
        font-size: 2rem;
    }
    .text-box p {
        margin: 1rem 1rem 1rem;
        font-size: 1rem;
        color: white;
    }
    section nav .sidebar {
        width: 50%;
    }
    nav {
        padding: 0 0;
    }
    section nav ul li a span {
        font-size: 1rem;
    }
    section nav .sidebar li a:hover {
        color: green;
        background: gray;
    }
    .row {
        flex-direction: column;
    }
    h2 {
        font-size: 2rem;
        font-weight: 600;
    }
    h3 {
        font-size: 1.5rem;
        font-weight: 200;
        text-align: center;
        margin: 0.5rem;
    }
    p {
        color: black;
        font-size: 0.6rem;
        font-weight: 200;
        line-height: 1rem;
        padding: 0.7rem;
    }
}
/* Page About Us */
.sub-header {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(arnold-francisca-nPhl2x4fk2s-unsplash-scaled.jpg.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
}
.sub-header h1  {
    margin-top: 5.1rem;
    font-size: 2rem;
}
.aboutus {
    width: 75%;
    margin: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.about-col {
    flex-basis: 45%;
    padding: 2rem 5px;
}
.about-col h1 {
    padding-top: 0;
}
.about-col p {
    padding: 1rem 0 1.7rem;
    margin-bottom: 1rem;
}
.about-col img {
    width: 100%;
}

.red-btn{
    border: 2px solid white;
    text-decoration: none;
    background: green;
    color: white;
    margin: 0 0;
    padding: 0.8rem 0.8rem;
}
.red-btn:hover{
    border: 3px solid black;
    background: white;
    color: black;
}
/* blog-content */
.blog-content {
    width: 80%;
    margin: auto;
    padding: 4rem 0;
}
.blogleft {
    flex-basis: 65%;
}
.blogleft img {
    width: 100%;
}
.blogleft h2 {
    color: black;
    font-weight: 800;
    margin: 2rem 0;
}
.blogleft p {
    color: #999;
    padding: 0;
}
.blogright {
    flex-basis: 33%;
}
.blogright h3 {
    background: green;
    color: white;
    padding: 6px 0;
    font-size: 25px;
    margin-bottom: 20px;
}
.blogright div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: green;
    padding: 8px;
    box-sizing: border-box;
}
.coment-box {
    border: 1px solid black;
    margin: 50px 0;
    padding: 15px 60px;
    margin-bottom: 0;
}
.coment-box h3 {
    text-align: center;
}
.coment-form input, .coment-form textarea {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0;
}
.coment-form button {
    margin: 10px 0;
}
/* Locatin/Contact */
.location {
    width: 80%;
    margin: auto;
    padding: 20px 0;
}
.location iframe {
    width: 100%;

}
.cta-us {
    width: 80%;
    margin: auto;
} 
.cta-col {
    flex-basis: 35%;
    margin-bottom: 0;
}
.cta-col div {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}
.cta-col div .fa{
    font-size: 25px;
    margin: 15px;
    margin-right: 10px;
    color: green;
}
.cta-col div p{
    padding: 0;
    margin-bottom: 8px;
    margin-top: 10px;
}
.cta-col div h5 {
    font-size: 20px;
    margin-bottom: 9px;
    color: #555;
    font-weight: 400;
    margin-top: 10px;
}
.cta-col input, .cta-col textarea {
    width: 100%;
    padding: 14px;
    margin-bottom: 15px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
@media (max-width: 400px) {
    section nav .sidebar {
        width: 100%;
    }
    .text-box h1 {
        font-size: 2rem;
    }
    .text-box p {
        margin: 1rem 1rem 1rem;
        font-size: 1rem;
        color: white;
    }
    section nav img {
        display: none;
    }
    section nav ul li span {
        display: none;
    }
    section nav .sidebar li a:hover {
        color: green;
        background: gray;
    }
    .kampus h3 {
        font-size: 2rem;
        font-weight: 400;
    }
    .kampus p {
        color: black;
        font-size: 0.6rem;
        font-weight: 200;
        line-height: 1rem;
        padding: 0.7rem;
    }
}